<mat-toolbar class="toolbar">
  <mat-toolbar-row>
    <a routerLink="">
      <img
        src="assets/images/logoflat.png"
        style="padding-top: 5px; width:100px;"
      />
    </a>

    <mat-nav-list style="margin-left: 40px;">
      <mat-list-item class="list-item" routerLink="view"
        >Pregledaj ponudu</mat-list-item
      >
      <mat-list-item *ngIf="!isLoggedIn()" class="list-item" routerLink="login"
        >Objavi oglas</mat-list-item
      >
      <mat-list-item *ngIf="isLoggedIn()" class="list-item" routerLink="form"
        >Objavi oglas</mat-list-item
      >
      <mat-list-item
        class="list-item"
        routerLink="user-posts"
        *ngIf="isLoggedIn()"
        >Tvoji oglasi</mat-list-item
      >
    </mat-nav-list>

    <span class="example-spacer"></span>

    <span class="example-spacer"></span>

    <mat-nav-list *ngIf="!isLoggedIn()">
      <button mat-raised-button color="accent" routerLink="login">
        Prijava
      </button>
    </mat-nav-list>

    <div [matMenuTriggerFor]="menu" *ngIf="isLoggedIn()">
      <img mat-card-avatar [src]="image" class="header-image" />
    </div>

    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="profile/{{ isLoggedIn() }}">
        <mat-icon>account_circle</mat-icon>
        Profil
      </button>

      <button mat-menu-item (click)="logoutUser()">
        <mat-icon>arrow_right_alt</mat-icon>
        Odjava
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
