<mat-card class="center" style="width: 400px; height:500px; margin-top: 50px;">
  <form [formGroup]="loginForm" (ngSubmit)="getUser()">
    <h2 class="center">Prijava</h2>

    <div class="big-field">
      <mat-form-field color="accent" appearance="outline">
        <input
          matInput
          type="string"
          placeholder="E-mail"
          formControlName="email"
        />
      </mat-form-field>
    </div>

    <div class="big-field">
      <mat-form-field color="accent" appearance="outline">
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          placeholder="Lozinka"
          formControlName="password"
        />
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <div class="center">
      <button mat-raised-button color="accent" type="submit" class="center">
        Prijava
      </button>
    </div>

    <div class="registration">
      <p>Niste registirani?</p>
      <a routerLink="registration">Kreirajte račun</a>
    </div>
  </form>
</mat-card>
