<mat-toolbar class="toolbar">
  <mat-toolbar-row>
    <a routerLink="">
      <img
        src="assets/images/logoflat.png"
        style="padding-top: 5px; width:100px;"
      />
    </a>

    <mat-nav-list style="margin-left: 40px;">
      <mat-list-item class="list-item" routerLink="view"
        >Pregledaj ponudu</mat-list-item
      >
      <mat-list-item class="list-item" routerLink="form"
        >Objavi oglas</mat-list-item
      >
      <mat-list-item
        class="list-item"
        routerLink="user-posts"
        *ngIf="isLoggedIn"
        >Tvoji oglasi</mat-list-item
      >
    </mat-nav-list>

    <span class="example-spacer"></span>

    <span class="example-spacer"></span>
    <mat-card class="user" [matMenuTriggerFor]="menu" *ngIf="isLoggedIn">
      <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
      </mat-card-header>
    </mat-card>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="profile">Profil</button>
      <button mat-menu-item (click)="logoutUser()">
        Odjava
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
