.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.filter {
  float: left;
  width: 25%;
  margin-top: 3%;
}

.content_view {
  float: right;
  width: 70%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  //grid-gap: 2px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.grid2 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 2px;
}
.span-col-2 {
  grid-column: span 2 / auto;
}

.example-card {
  margin-left: 2px;
  max-width: 250px;
  //max-height: 200px;
  margin-bottom: 10px;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.mat-raised-button {
  float: right;
  position: relative;
}

.zoom {
  //padding: 50px;
  transition: transform 0.2s; /* Animation */
  //width: 200px;
  //height: 200px;
  margin: 0 auto;
}

.scale {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
