<form class="filter" [formGroup]="postsForm" (ngSubmit)="filter()">
  <div>
    <button mat-raised-button color="accent" type="submit">
      Filtriraj
    </button>
  </div>

  <mat-accordion class="example-headers-align">
    <mat-expansion-panel
      [expanded]="step === 0"
      (opened)="setStep(0)"
      hideToggle
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h4>Opiši idealan prostor</h4>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <p>Lokacija</p>

      <mat-form-field color="accent" appearance="outline">
        <mat-label>Grad</mat-label>
        <input matInput placeholder="Grad" formControlName="city" />
      </mat-form-field>

      <p>Vrsta prostora</p>

      <mat-form-field color="accent" appearance="outline">
        <mat-select placeholder="Sve" formControlName="type">
          <mat-option>Sve</mat-option>
          <mat-option *ngFor="let type of types" [value]="type.value">
            {{ type.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <h4>Iznos mjesečne najamnine</h4>

      <mat-form-field color="accent" appearance="outline">
        <mat-label>Iznos mjesečne najamnine</mat-label>
        <input matInput placeholder="0,00kn" formControlName="price" />
      </mat-form-field>

      <!--<mat-action-row>
        <button mat-button type="button" color="primary" (click)="nextStep()">
          Next
        </button>
      </mat-action-row>-->
    </mat-expansion-panel>

    <mat-expansion-panel
      [expanded]="step === 1"
      (opened)="setStep(1)"
      hideToggle
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h4>Pojedinosti</h4>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <p>Koliko je spavačih soba na raspolaganju?</p>

      <mat-form-field color="accent" appearance="outline">
        <input
          matInput
          type="number"
          placeholder="Sobe"
          formControlName="room"
        />
      </mat-form-field>

      <p>Koliko je kreveta?</p>

      <mat-form-field color="accent" appearance="outline">
        <input
          matInput
          type="number"
          placeholder="Kreveti"
          formControlName="bed"
        />
      </mat-form-field>

      <h4>Da li prima kućne ljubimce?</h4>

      <mat-checkbox formControlName="pet">Prima kućne kljubimce</mat-checkbox>

      <!--<mat-action-row>
        <button mat-button type="button" color="warn" (click)="prevStep()">
          Previous
        </button>
        <button mat-button type="button" color="primary" (click)="nextStep()">
          Next
        </button>
      </mat-action-row>-->
    </mat-expansion-panel>

    <mat-expansion-panel
      [expanded]="step === 2"
      (opened)="setStep(2)"
      hideToggle
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h4>Što sve smještaj mora sadržati?</h4>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div>
        <mat-checkbox>Wi-Fi</mat-checkbox>
      </div>
      <div>
        <mat-checkbox formControlName="parking">Parking mjesto</mat-checkbox>
      </div>
      <div>
        <mat-checkbox formControlName="furnished">Namještaj</mat-checkbox>
      </div>

      <!--<mat-action-row>
        <button mat-button type="button" color="warn" (click)="prevStep()">
          Previous
        </button>
        <button mat-button type="button" color="primary" (click)="nextStep()">
          End
        </button>
      </mat-action-row>-->
    </mat-expansion-panel>
  </mat-accordion>
</form>

<div class="content_view">
  <mat-tab-group color="accent">
    <mat-tab label="OGLASI">
      <div class="grid">
        <h3 *ngIf="noDataFound">Nema rezultata pretrage</h3>
        <mat-card
          class="example-card"
          *ngFor="let post of array"
          method="GET"
          routerLink="post-detail/{{ post.id }}"
        >
          <img
            mat-card-image
            [src]="post.image == null ? image : post.image"
            alt="Slika prostora"
          />
          <mat-card-header>
            <div class="grid2">
              <mat-card-title
                >{{ post.title }}, {{ post.squares }} m2</mat-card-title
              >
              <mat-card-subtitle>{{ post.price }}</mat-card-subtitle>
              <mat-card-subtitle
                >{{ post.city }}, {{ post.address }}</mat-card-subtitle
              >
            </div>
          </mat-card-header>
        </mat-card>
      </div>
    </mat-tab>
    <!--<mat-tab label="KARTA"></mat-tab>-->
  </mat-tab-group>
</div>
