<div class="center" style="width: 150px;">
  <div>
    <img [src]="imageUrl" style="width: 150px; height: 120px;" />
  </div>
  <div>
    <input
      type="file"
      accept="image/*"
      style="display: none;"
      #image
      (change)="onFileSelected($event.target.files)"
      required
    />
    <button
      mat-stroked-button
      color="accent"
      style="width: 100%;"
      (click)="image.click()"
    >
      Odaberi sliku
    </button>
  </div>
  <div>
    <button
      mat-raised-button
      color="accent"
      style="width: 100%;"
      (click)="onUpload()"
      [disabled]="image.value == ''"
    >
      Učitaj
    </button>
  </div>
</div>
