<h2 class="center">Prijava</h2>

<div class="big-field">
  <mat-form-field color="accent" appearance="outline">
    <input matInput type="string" placeholder="E-mail" />
  </mat-form-field>
</div>

<div class="big-field">
  <mat-form-field color="accent" appearance="outline">
    <input matInput type="string" placeholder="Lozinka" />
  </mat-form-field>
</div>

<div class="center">
  <button mat-raised-button color="accent">Prijava</button>
</div>

<div class="registration">
  <p>Niste registirani?</p>
  <a>Kreirajte račun</a>
</div>
