<mat-grid-list cols="4" rowHeight="150px">
  <mat-grid-tile
    *ngFor="let tile of tiles"
    [colspan]="tile.cols"
    [rowspan]="tile.rows"
    [style.background]="tile.color"
  >
    {{ tile.text }}
    <img
      mat-card-image
      class="zoom"
      src="assets/images/house.jpg"
      alt="Photo of a Shiba Inu"
    />
  </mat-grid-tile>
</mat-grid-list>

<div class="grid center" *ngFor="let post of post">
  <div>
    <div *ngIf="editable">
      <button
        mat-raised-button
        color="accent"
        style="float: right"
        routerLink="form"
      >
        Uredi
      </button>
    </div>
  </div>
  <div class="detail">
    <div class="title" style="margin-bottom:5%;">
      <h2>
        {{ post.title }}
      </h2>
      <h2 style="text-align: end;">{{ post.price }}</h2>
      <h3>{{ post.type }}, {{ post.squares }} m2</h3>
    </div>

    <p class="span-col-2" style="margin-bottom:5%;">
      {{ post.description }}
    </p>

    <div class="bool">
      <div>
        <div class="center anemities">
          <img
            src="assets/images/maps-and-flags.svg"
            alt="Lokacija"
            class="anemities-icon"
          />
          <div class="center anemities">
            <p class="anemities">{{ post.city }}, {{ post.address }}</p>
          </div>
        </div>

        <div style="margin-bottom:3%;"></div>

        <div *ngIf="post.bills_included">
          <div class="center anemities">
            <img
              src="assets/images/bill.svg"
              alt="Rezije"
              class="anemities-icon"
            />
          </div>
          <div class="center anemities">
            <p class="anemities">
              Uključene režije
            </p>
          </div>
        </div>

        <!--<div style="margin-bottom:3%;"></div>

        <div *ngIf="post.wifi">
          <div class="center anemities">
            <img
              src="assets/images/wifi.svg"
              alt="Rezije"
              class="anemities-icon"
            />
          </div>
          <div class="center anemities">
            <p class="anemities">
              Wifi
            </p>
          </div>
        </div>-->

        <div style="margin-bottom:3%;"></div>

        <div *ngIf="post.furnished">
          <div class="center anemities">
            <img
              src="assets/images/couch.svg"
              alt="Namijesten stan"
              class="anemities-icon"
            />
          </div>
          <div class="center anemities">
            <p class="anemities">
              Namiješten
            </p>
          </div>
        </div>

        <!--<div style="margin-bottom:3%;"></div>

        <div *ngIf="post.room">
          <div class="center anemities">
            <img
              src="assets/images/room.svg"
              alt="Rezije"
              class="anemities-icon"
            />
          </div>
          <div class="center anemities">
            <p class="anemities">
              {{ post.room }} soba
            </p>
          </div>
        </div>-->

        <!--<div style="margin-bottom:3%;"></div>

        <div *ngIf="post.bed">
          <div class="center anemities">
            <img
              src="assets/images/bed.svg"
              alt="Rezije"
              class="anemities-icon"
            />
          </div>
          <div class="center anemities">
            <p class="anemities">
              {{ post.bed }} kreveta
            </p>
          </div>
        </div>-->

        <div style="margin-bottom:3%;"></div>

        <div *ngIf="post.pet">
          <div class="center anemities">
            <img
              src="assets/images/pawprint.svg"
              alt="Zivotinje"
              class="anemities-icon"
            />
          </div>
          <div class="center anemities">
            <p class="anemities">
              Kućni ljubimci
            </p>
          </div>
        </div>

        <div style="margin-bottom:3%;"></div>

        <div *ngIf="post.parking">
          <div class="center anemities">
            <img
              src="assets/images/parking.svg"
              alt="Parking"
              class="anemities-icon"
            />
          </div>
          <div class="center anemities">
            <p class="anemities">
              Parking
            </p>
          </div>
        </div>

        <div style="margin-bottom:3%;"></div>
      </div>

      <p>
        {{ post.available_date }}
        {{ post.walkout_date }}
        {{ post.bed }}
        {{ post.room }}
      </p>
    </div>
  </div>
  <div *ngIf="isLoggedIn">
    <mat-card class="user">
      <mat-card-header class="user-grid center">
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title
          ><!--<div class="center anemities">
            <img
              src="assets/images/call-answer.svg"
              alt="Telefon"
              class="anemities-icon"
            />
          </div>-->
          {{ post.name }} {{ post.surname }}</mat-card-title
        >
        <mat-card-subtitle>
          <!--<div class="center anemities">
            <p class="anemities">
              {{ post.phone }}
            </p>
          </div>-->{{ post.phone }}</mat-card-subtitle
        >
      </mat-card-header>
    </mat-card>
  </div>
</div>
