<form
  [formGroup]="registrationForm"
  enctype="multipart/form-data"
  (ngSubmit)="onSubmit()"
>
  <!--Value: {{ registrationForm.value | json }} -->

  <div class="grid">
    <div class="center">
      <h2 class="center">
        {{ isLoggedIn ? "Profil" : "Registracija" }}
      </h2>

      <div class="center" style="width: 150px;">
        <div>
          <img [src]="imageUrl" style="width: 150px; height: 120px;" />
        </div>
        <div>
          <input
            type="file"
            accept="image/*"
            style="display: none;"
            #image
            name="image"
            (change)="onFileSelected($event.target.files)"
            formControlName="image"
            required
          />
          <button
            mat-stroked-button
            color="accent"
            style="width: 100%;"
            (click)="image.click()"
          >
            Učitaj sliku
          </button>
        </div>
        <!--<div>
          <button
            mat-raised-button
            color="accent"
            style="width: 100%;"
            (click)="onUpload()"
            [disabled]="image.value == ''"
          >
            Učitaj
          </button>
        </div>-->
      </div>

      <!--<app-profile-image-upload></app-profile-image-upload>-->
    </div>

    <div class="span-col-2">
      <!--class="span-col-3"-->
      <div class="">
        <h4>Osobni podaci</h4>
        <mat-form-field color="accent" appearance="outline">
          <input
            matInput
            type="string"
            placeholder="Ime"
            formControlName="name"
          />
        </mat-form-field>
        <mat-form-field color="accent" appearance="outline">
          <input
            matInput
            type="string"
            placeholder="Prezime"
            formControlName="surname"
          />
        </mat-form-field>
      </div>

      <div class="">
        <mat-form-field color="accent" appearance="outline">
          <input
            matInput
            type="string"
            placeholder="Grad"
            formControlName="city"
          />
        </mat-form-field>
        <mat-form-field color="accent" appearance="outline">
          <input
            matInput
            type="string"
            placeholder="Država"
            formControlName="country"
          />
        </mat-form-field>
      </div>

      <div *ngIf="!isLoggedIn">
        <h4>Datum rođenja</h4>

        <p>
          Da biste se registrirali morate imati najmanje 18 godina.
        </p>
        <p>
          Drugi korisnici neće vidjeti vaš datum rođenja.
        </p>

        <div>
          <mat-form-field>
            <input
              matInput
              [matDatepicker]="picker1"
              placeholder="Datum rođenja"
              [formControl]="birth_date"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker1"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>

          <!--<mat-form-field class="day-field" color="accent" appearance="outline">
            <mat-select placeholder="Dan" formControlName="day">
              <mat-option>1</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field
            class="month-field"
            color="accent"
            appearance="outline"
          >
            <mat-select placeholder="Mjesec" formControlName="month">
              <mat-option>Siječanj</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field
            class="year-field"
            color="accent"
            appearance="outline"
          >
            <mat-select placeholder="Godina" formControlName="year">
              <mat-option>1990</mat-option>
            </mat-select>
          </mat-form-field>-->
        </div>
      </div>

      <h4>Kontakt informacije</h4>

      <div class="big-field">
        <mat-form-field color="accent" appearance="outline">
          <input
            matInput
            type="string"
            placeholder="Broj telefona"
            formControlName="phone"
          />
        </mat-form-field>
      </div>

      <div class="big-field">
        <mat-form-field color="accent" appearance="outline">
          <input
            matInput
            type="string"
            placeholder="E-mail"
            formControlName="email"
          />
          <mat-error *ngIf="email.invalid && email.touched">
            Neispravan e-mail!
          </mat-error>
        </mat-form-field>
      </div>

      <h4>Lozinka</h4>

      <div class="big-field">
        <mat-form-field color="accent" appearance="outline">
          <input
            matInput
            type="string"
            placeholder="Lozinka"
            formControlName="password"
          />
          <mat-hint align="end">
            Lozinka mora sadržavati barem jedno slovo i jedan broj!
          </mat-hint>
          <mat-error *ngIf="password.invalid && password.touched">
            Neispravna lozinka!
          </mat-error>
        </mat-form-field>
      </div>

      <p>Ponovite lozinku</p>

      <div class="big-field">
        <mat-form-field color="accent" appearance="outline">
          <input
            matInput
            type="string"
            placeholder="Lozinka"
            formControlName="password"
          />
          <!--<mat-hint align="end">
            Lozinka mora sadržavati barem jedno slovo i jedan broj!
          </mat-hint>
          <mat-error *ngIf="password.invalid && password.touched">
            Neispravna lozinka!
          </mat-error>-->
        </mat-form-field>
      </div>
      <div *ngIf="!isLoggedIn">
        <mat-checkbox formControlName="terms"
          >Prihvačam uvjete korištenja</mat-checkbox
        >
      </div>
    </div>
  </div>

  <div class="center">
    <button
      mat-raised-button
      [disabled]="registrationForm.invalid && !isLoggedIn"
      color="accent"
      type="submit"
      class="center"
    >
      <!--[disabled]="registrationForm.invalid && !isLoggedIn" -->
      {{ isLoggedIn ? "Spremi" : "Registracija" }}
    </button>
  </div>
</form>
